body {
    background-color: #FF007F;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    background-color: #A94064;
    text-align: left;
    align-items: left;
    padding: 30px
}

#registerbutton {
    background-color: white;
    border: none;
    text-align: center;
    font-style: normal;
    font-size: 30px;
    width: 300px;
    border-radius: 7px;
    font-weight: bold;
}

#registerbutton:hover {
    background-color: pink;
}

td {
    padding-inline: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}